<%= render 'users', user: @user %>
<div class = 'your-gym-comment'>
  <h5><%= @user.name %>さんの参加しているジム</h5>
</div>
<ul class = "gym_card_wrap">
  <% @gyms.each do |gym| %>
      <%= render 'gyms/gyms', gym: gym %>
  <% end %>
  <%= paginate @gyms %>
</ul>  