<div class="main-img">
    <div class="text-box">
      <h1 class="title">Gymtomo</h1>
    </div>
</div>
<%= image_tag "gymtomo_logo.jpeg", :size => '200x200', class: 'gymtomo_logo'%>
<div class="description">
<h5>概要</h5>
<p>「同じジムに通う人と繋がろう」</p>
<p>ジム内でオンラインのコミュニティを作り、モチベーション維持や情報共有をサポートするアプリです。</p>

<h5>制作の背景</h5>
<div class="sub-img-1">
<p>１人だとトレーニングが続かない。</p>
<p>たまにはだれかと一緒にトレーニングしたい。</p>
</div>

<h5>このアプリでできること</h5>
<div class="sub-img-2">
<p>・同じジムに通う人を誘って、一緒にトレーニングできる。</p>
</div>

<p>・グループ内で投稿したり、他人の投稿を見て、モチベーションが保てる。</p>
<p>・ジムの雰囲気を通っている人の投稿やジムレビューから確認できる。</p>
</div>
