.gym_card_wrap {
    display: flex;
    padding: 2.5% 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.gym_card {
  background-color: #f8f9fa;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  width: 250px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #212121;
  text-decoration: none;
  border-radius: 15px;
}

a.gym_link {
  text-decoration: none;
  color: black;
}
 
.gym_card_header {
  flex-wrap: wrap;
  height: 200px;
}

.gym_card_title {
  font-size: 1.25rem;
  word-break: break-word;
}

.gym_card_thumbnail {
  margin: 0;
  text-align: center;
}

.gym_card_image {
  
}

.gym_card_body {
  height: 160px;
  padding: 1rem;
  padding-bottom: 0;
  background-color: white;
}

.gym_card_text {
  font-size: .75rem;
}

.gym_card_text + .card_text {
  margin-top: .5rem;
}

.gym_card_text.-number {
  text-align: right;
  text-decoration: none;
  padding-left: 65%;
  color: burlywood;
}

.gym_card_footer {
  height: 40px;
  display: flex;
  padding-left: 1rem;
}