.main-img {
  min-height: 29vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  background-image: url("gymtomo-toppages-wide.jpg");
 }
 
 .text-box {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}
.title {
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.2;
  padding: 0 20px;
  text-align: center;
  color: darkorange;
  background-color: rgba(255, 255, 255, 0.5); 
}

.description {
  color: black;
  text-align: centetS;
  margin-right: 20px;
}
